/* Universal Styles*/ -->  html background colour, font family and size for example

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header */ (contains nav and h1 often, also background images etc)



/* Nav */



/* Main & Sections */



/* Footer */